# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, build with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# IDE
.idea

# SSL
private.key
public.crt

# OPATH
OPATH/

# Executable created by this project
server

# Artifacts created by the server running
users.csv
test_users.csv
